<div class="jumbotron">
  <h1>Add a new book</h1>
    <form name="createBook">
      <table class="table">
        <tr>
          <td>Name</td>
          <td>
            <input class="form-control" type="text" name="name" ng-model="book.name" required>
            <span ng-show="myForm.name.$error.required" class="help-inline">not correct</span>
          </td>
        </tr>
        <tr>
          <td>Author</td>
          <td>
            <input class="form-control" type="text" name="author" ng-model="book.author" required>
            <span ng-show="myForm.author.$error.required" class="help-inline">not correct</span>
          </td>
        </tr>
        <tr>
          <td>Year of publishing</td>
          <td>
            <input class="form-control" type="text" name="publish_year" ng-model="book.publish_year" required>
            <span ng-show="myForm.publish_year.$error.required" class="help-inline">not correct</span>
          </td>
        </tr>
      </table>
      <button class="btn btn-lg btn-primary" ng-click="create()" ng-disabled="isClean() || myForm.$invalid">Create</button>
    </form>
    
  </p>
</div>